#root {
  margin: 4rem;
}

.wrapper {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

.wrapper > * {
  padding: 2rem;
}

.request,
.request .update-form {
  display: flex;
  flex-direction: column;
}

.update-form {
  gap: 1rem;
}

button {
  padding: 0;
}

.update-form input[type='submit'],
.response input[type='submit'] {
  outline: 0;
  border: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
}

.response {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}
